body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
     background-color:blue;
}
form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    margin-top: 5px;
    padding: 8px;
    width: 100%;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
}
#message {
    margin-top: 20px;
    color: red;
}